body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
}

.list
{
  width: 50%;
  display: flex;
  gap: 90px;
  justify-content: end;
  margin-right: 4rem;
  color: black;
  font-weight: 600;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.nav
{
  justify-content: space-between;
  align-self: center;
  margin-top: 1rem;
  display: flex;
  width: 60%;
  height: 2rem;
  align-items: center;
  margin-left: 4rem;
}

.food
{
  display: flex;
  margin-left: 4rem;
  border-radius: 40px;
  width: 320px;
  height: 360px;
  margin-top:13px;
}

.header
{
  width: 100%;
  height: 20rem;
  background-color: rgb(13, 71, 18);
  margin-top: 2rem;
  display: flex;
  justify-content: center;

}


.main
{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 62%;
  gap:40px;
  align-self: center;
  height: 45rem;
}

.footer
{
  width: 100%;
  height: 6rem;
  background-color: violet;
}

.section
{
  position: relative;
  width: 60%;
  height: 100%;
  min-width: 500px;
  align-self: center;

  display: flex;
  justify-content: space-between;
}

.part
{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  min-width: 300px;
  margin: auto;
}

.part1 , .part2
{
  height: 50%;
}


.title
{
  color: #cfb94e;

  font-family: 'Markazi Text', serif;
  font-size: 50px;
  
}
.subtitle
{
  color: #edefee;
  font-size: 30px;
  font-family: 'Markazi Text', serif;

}

.button
{
  background-color: #f4ce14;
  border-radius: 15px;
  width: 40%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: medium;
}

.paragraph
{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  color: #edefee;
}

.title-main
{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: black;
  font-family: 'Markazi Text', serif;
  font-size: 50px;
}

.btn-menu
{
  background-color: #f4ce14;
  border-radius: 15px;
  width: 20%;
  height: 3rem;
  border: none;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: medium;
}

.cards
{
  display: flex;
  flex-direction: row;
}
.card
{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 10px;
  height: 500px;
  width :33%;
  background-color: rgb(227, 227, 227);
}

.image-main
{
  width: 100%;
  height: 50%;
}

.body-main
{
  display: flex;
  flex-direction: column;
  gap:50px;
  width: 100%;
  height: 50%;
}

.image-main
{
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.body-card
{
  display: flex;
  width:100%;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.para-card
{
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.text
{
  font-size: small;
  padding-right: 2rem;
  padding-left: 2rem;
  color:#4d4d4d
}
.bottom
{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  gap:40px;
  padding: 4px;
  align-items: center;
  font-size:smaller;
  font-weight: 600;
}
.price
{
  color: #e2913f;
  font-weight: bold;
}

.title-card
{
  font-weight: 600;
  font-size: medium;
}

.bike
{
  width:30px;
  height:30px;
}
.title-test
{
  font-size:large;
  font-weight: 600;

}
.testimonials
{
  display: flex;
  flex-direction: column;
  gap:5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  height: 400px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 62%;
}
.says
{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.CardTest
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(227, 227, 227);
  width: 200px;
  height: 200px;
}

.body-test
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem;

}

.rating
{
  margin-left: 1rem;
  color: #e2913f;
}

.image-test
{
  width: 100px;
  height: 100px;
  margin: 0.4rem;
}

.text-test
{
  margin-left: 1rem;
  font-style: italic;
  color:rgb(75, 74, 74)
}

.name-test
{
  font-size: small;
  font-weight: bold;
}

.head
{
  font-family: 'Markazi Text', serif;
  font-size: 50px;
}